* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  list-style-type: none;
  text-decoration: none;
  color: #1d1f20;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 700px;
}

.form {
  display: flex;
}

.form-control-label {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.form-control-input {
  width: 30%;
  border: 1px solid darkgrey;
  border-radius: 4px;
  margin-right: 10px;
  padding: 7px 0 7px 10px;
  outline: none;
}

.form-control-input:focus {
  border-color: #a4d2fb;
}

.search-btn {
  border: none;
  border-radius: 4px;
  background: #006cfe;
  color: white;
  padding: 0 10px 0 10px;
  font-size: 14px;
  font-weight: 400;
}

.repositories-list {
  padding: 0;
  border-radius: 6px;
  border: 1px solid darkgrey;
  border-top: none;
}

.repository {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-top: 1px solid darkgrey;
}

ul li:first-child a article {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

ul li:last-child a article {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.repository-name-description {
  display: flex;
  flex-direction: column;
}

.repository-name,
.repository-description {
  margin: 2px 0;
}

.repository-name {
  font-size: 1rem;
  font-weight: 600;
}

.repository-description {
  font-size: 14px;
}

.repository-creation-date {
  font-size: 12px;
}

.error {
  margin: 0;
}